<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login to my Application</title>
</head>
<body>
	<h3>Enter user name and password:</h3>
         <table>
            <tr>
               <td>User:</td>
               <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
               <td>Password:</td>
               <td><input type='password' name='password' /></td>
            </tr>
            <tr>
               <td><button name="submit" type="submit" onClick="http://myenslogin.com/welcome" value="submit">Login</button></td>
            </tr>
         </table>
<a href="http://myenslogin.com/login">Login</a>
</body>
</html>